
.Headnav{
 overflow: hidden !important;
 background-image:linear-gradient(rgb(166, 5, 32),rgb(238, 74, 74)) ;
 display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
  height:80px;

  
 
}
.Headnav a{
    text-shadow: 10px black;
    font-size:17.5px;
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
.Headnav a:hover{
    font-size:18px;
    padding: 12px 14px;
    color: rgb(187, 187, 187);
    text-decoration:underline;

    

}

